/.idea/
/.vscode/
/bin/
/build/
/.classpath
/.gitignore
/.project
/.settings
/home/
/release/
/target/
/logs/
/ntag.ini
/.gradle/
/wiki/
/tools/icon/build/
/tools/icon/ntag.iconset/

# macOS AppleDouble resource-fork files (created on non-HFS volumes)
._*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
