/.idea/
/.vscode/
/bin/
/build/
/.classpath
/.gitignore
/.project
/home/
/release/
/target/
/logs/
/ntag.ini
/.gradle/
/wiki/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
