/*
 *   This file is part of NTag (audio file tag editor).
 *
 *   NTag is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   NTag is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with NTag.  If not, see <http://www.gnu.org/licenses/>.
 *
 *   Copyright 2021, Nico Rittstieg
 *
 */

/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.textarea-infos {
  -fx-font-family: monospace;
}

.textarea-infos > .scroll-pane {
  -fx-vbar-policy:always;
  -fx-hbar-policy:always;
}

.statusbar {
  -fx-background-color: #1C85CC;
}

.statusbar-label {
  -fx-text-fill: white;
}

.label-error {
  -fx-font-size: 10pt;
  -fx-text-fill: red;
  -fx-opacity: 1;
}

.toolbar-button {
  -fx-padding: 2 4 2 4;
  -fx-min-height: 24;
}

#file-info-label {
  -fx-text-fill: red;
}

#info-button {
  -fx-graphic: url('icons/toolbar_info.png');
  -fx-padding: 2 4 2 4;
  -fx-min-height: 24;
}

#open-button {
  -fx-graphic: url('icons/toolbar_open.png');
  -fx-padding: 2 4 2 4;
  -fx-min-height: 24;
}

#save-button {
  -fx-graphic: url('icons/toolbar_save.png');
  -fx-padding: 2 4 2 4;
  -fx-min-height: 24;
}

#settings-button {
  -fx-graphic: url('icons/toolbar_settings.png');
  -fx-padding: 2 4 2 4;
  -fx-min-height: 24;
}

.edit-button {
  -fx-graphic: url('icons/edit.png');
}
