.rating-control {
   -fx-skin: "ntag.fx.scene.control.rating.RatingSkin";
}

.star {
    -fx-background-color: transparent;     
    -fx-background-image-repeat: no-repeat;
}

.star:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,148,250,0.6) , 8, 0.0 , 0 , 0 );
}

.star-full {
    -fx-background-image: url("/icons/r_full.png");
}

.star-half {
    -fx-background-image: url("/icons/r_half.png");
}

.star-empty {
    -fx-background-image: url("/icons/r_empty.png");
}