[Desktop Entry]
Name=NTag
Comment=audio file tag editor
Exec=/bin/java --module-path /opt/ntag/libs --add-modules=javafx.controls,javafx.fxml,javafx.swing,java.logging,jaudiotagger,java.desktop,java.xml.bind -jar /opt/ntag/ntag.jar
Icon=/opt/ntag/ntag.png
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo
Keywords=java;id3;tag;editor